/* animation cho ảnh */
img{
    transition: 1.5s;
}


input:checked ~ img {
  /* nếu muốn mất khỏi giao diện */
  /* display: none; */
  /* mất khỏi giao diện nhưng vẫn chiếm vị trí */
  /* visibility: hidden; */
  /* làm mờ đi và không còn tương tác được*/
  opacity: 0;
  visibility: hidden;
}
