/* chỉ tác động lên thẻ p đứng đầu */
/* p:first-of-type {
  color: green;
  font-size: 30px;
} */
/* chỉ tác động lên thẻ p đứng cuối */
/* p:last-of-type {
  color: blue;
  font-size: 30px;
} */
/* chỉ tác động lên thẻ p thứ n */
/* p:nth-of-type(3){
  color: red;
  font-size: 30px; 
} */
/* chỉ tác động lên thẻ p duy nhất */
p:only-of-type {
  color: orange;
  font-size: 30px; 
}