h1 {
  /* color: rgb(194, 47, 47); */
  /* color: rgb(0 255 0); */
  /* kênh rgba */
  /* color: rgba(255, 150, 0 ,0.5); */
  /* color: rgba(255 150 0 /0.5); */
  /* hệ màu hex */
  /* sau # 00 thể hiện red, 00 giữa thể hiện green, 00 cuối thể hiện blue */
  color: #0000ff;
  background-color: aqua;
}

.box {
  margin: 20px;
  width: 200px;
  height: 200px;
  color: pink;
  /* background-color: currentColor; */
  outline: 5px solid currentColor;
  outline-offset: 5px;
}

.box_child{
    width: 50px;
    height: 50px;
    background-color: currentColor;
}
