/* .box {
  width: 500px;
  height: 400px;
  border: 4px dotted red;
  background-image: url(./bg/choooo.jpg);
  background-size: contain;
  background-size: cover;
  background-size: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: 200px 200px;
} */

.box{
    width: 400px;
    height: 200px;
    border: 5px dashed blue;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20241016/pngtree-photo-beautiful-anime-sakura-landscape-cartoon-scene-image_16402720.jpg);
    background-position: top left;
    background-position: top right;
    background-position: bottom left;
    background-position: bottom right;
    background-position: top;
    background-position: bottom;
    background-position: left;
    background-position: center;


    background-position: -10% 0;
    background-repeat: no-repeat;

    background-position: 80px 0;
}

img{
    width: 60%;
    margin-top: 50px;
}
