* {
  font-size: 1.5rem;
}
body {
  margin: 0;
}
.container {
  display: flex;
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  justify-content: space-evenly;
  background-color: aqua;
}

.box {
  background-color: bisque;
}


