/* nếu 2 thẻ sát nhau thì sử dụng + */
/* h1 + h2 {
  color: blue;
}
.demo.demo2 + h3,
p {
  color: red;
} */

/* nếu 2 thẻ không sát nhau thì sử dụng ~ */
h1 ~ h3{
  color: blue;
}
div ~ div{
  color: red;
}