.box{
    width: 200px;
    height: 200px;
    background-image: url(./bg/1.PNG);
    border: 50px dotted red;
    padding: 50px;
    /* background-clip: border-box; */
    /* gốc của ảnh */
    background-origin: padding-box;
    background-origin: border-box;
    background-origin: content-box;
}