.box {
  width: 100px;
  height: 100px;
  color: #fff;
  /* căn giữa text ở các khối */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .box1{
    background-color: red;
    position: static;
}
.box2{
    background-color: blue;
    position: relative;
    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 50px;
}
.box3{
    background-color: green;
}

h1{
    background-color: purple
} */

.header{
    background-color: brown;
    position: relative;
}

.content {
  /* position: relative; */
  background-color: aqua;
  width: 400px;
  margin: 40px;
}

.box1 {
  background-color: red;
}
.box2 {
  background-color: blue;
  position: absolute;
  left: 0;
  top: 0;
}
.box3 {
  background-color: green;
}

h1 {
  background-color: purple;
}
