.box{
    width: 200px;
    height: 200px;
    margin: 50px auto;
    background: url(./bg/siuu.png) center/cover;
    /* clip-path: circle(50%); */
    /* clip-path: circle(50% at 80% 40%); */
    clip-path: inset(20px );
    clip-path: inset(20px 50px);
    clip-path: inset(20px 50px 80px);
    clip-path: inset(20px 50px 80px 40px);
    clip-path: inset(20px 50px 80px 40px round 15px);

    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
    border-radius: 15px;
}