.box {
  height: 300px;
  background-image: url(./bg/anh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.test_local {
  margin-top: 40px;
  height: 200px;
  width: 70%;
  overflow: auto;

  background-image: url(./bg/anh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-attachment: local;
}
