.mes-bottom a {
  font-size: 2rem;
  color: #d845b2;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.nav {
  background: #555;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.nav li{
    display: inline-block;

}

.nav a{
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

h1{
    margin-top: 51px;
}
