.container{
    height: 150px;
    display: flex;
    background-color: aqua;
    /* align-items: stretch; */
    align-items: flex-start;
}

.box{
    background-color: blue;
    border: 1px solid black;
}

.box2, .box4{
    align-self: flex-end;
}