.box{
    width: 150px;
    height: 150px;
    margin: 100px;
    background-color: pink; 
    /* box-shadow: 60px -16px blue;
    box-shadow: 60px -16px 5px blue ;
    box-shadow: 60px -16px 5px 10px blue ; */
    /* box-shadow: inset 20px 20px 15px 5px blue ; */
    /* đỗ nhiều bóng */
    box-shadow: 160px 0 green, 0 160px red, 160px 160px blue;
    border-radius: 16px;
}