.container {
  display: flex;
  height: 100px;
  background-color: aqua;
  /* justify-content: center;
    align-items: center; */
}

.fa-brands {
  font-size: 1.5rem;
  color: red;
  margin: auto;
}
