body {
  background-color: aqua;
}

.box {
  color: yellow;
  width: 200px;
  height: 200px;
  background-color: transparent;
  background-color: red;
  background-color: rgb(0, 255, 0);
  background-color: rgba(168, 0, 50, 0.5);
  background-color: #fff;
  background-color: currentColor;

  margin: 45px;
  padding: 20px;
  border: 5px dotted black;
}
